.name {
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 700px;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}

.address {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}
.feedbackImg{
    margin-top: 20px;
}
