.add {
    width: 1200px;
    height: 450px;
    left: 150px;
    top: 50px;
    background: #FFFFFF;
    border-radius: 20px;
}

label {
    padding: 0.5rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 1rem;
    background: #DEFFED;
    
    border: 1px solid #009444;
}

.send {
    padding-left: 750px;
    margin-top: 50px;
}

.green {
    width: 108px;
    height: 37px;
    left: 1272px;
    top: 438px;
    background: #009444;
    border: none;
    border-radius: 5px;
}

.cloud {
    width: 24px;
    height: 24px;
    left: 882px;
    top: 184px;
}